html, body {
  background-color: rgb(12, 12, 12);
  color: #f8f9fa;
}

#title {
  font-size: 36px;
}

a {
  color: #f8f9fa;
}

a:visited {
  color: lightcoral;
}

img {
  border: 4px solid #f8f9fa;
  border-radius: 6px;
}